@charset "UTF-8"

body{
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(4, 109, 0);
}

h1#principal{
    text-align: center;
    background-color: rgb(30, 104, 30);
    color: white;
}

h2{
    color: rgb(68, 105, 66);
}

.basico{
        color: red;
}

.intermediario{
       color: blue;
}

.avançado{
       color: rgb(179, 179, 16);
}

.destaque{
    background-color: rgba(47, 79, 79, 0.774);
}